$font-base-color: #fff;

.card-container {
    text-align: center;
    position: relative;
    overflow: hidden;
    margin: 3px;

    .card-details {
        visibility: hidden;
        color: $font-base-color;

        .fav-icon {
            position: absolute;
            top: 0;
            left: 35%;
            transition: transform 750ms;
            color: $font-base-color;

            .fav-icon-button {
                color: $font-base-color;
            }
            .fav-icon-button svg {
                font-size: 3rem;
            }
        }

        .vote-average {
            position: absolute;
            bottom: 0;
            width: 100%;
            font-size: 35px;
            transition: transform 750ms;
        }
    }
}

.card-container:hover {
    opacity: 0.6;
    filter: alpha(opacity=60);

    .card-details {
        visibility: visible;

        .fav-icon {
            transform: translateY(3vw);
        }
        .vote-average {
            transform: translateY(-3.5vw);
        }
    }
}

.filter-options {
    display: none;
}

.filter:hover {
    .filter-options {
        display: block;
    }
}
